.title, .counter{
  text-transform: uppercase;
  font-weight: 700;
}

.title {
  font-size: 1.8rem;
  color: rgb(91, 91, 91);
}

.counter {
  font-size: 3.6rem;
  color: var(--primary-color);
}

.button{
  color: white;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
  padding: 1rem 2.5rem;
  border: none;
}

.button__container{
  display: flex;
  gap: 1rem;
}